<template>
  <div class="p-4">
    <label class="my-1">
      <input type="checkbox" v-model="allowEmpty" />
      Отображать пустые рубрики
    </label>
    <div class="my-1">Cумма count-ов: {{ amount }}</div>
    <template v-if="allowEmpty">
      <tree-item
        v-for="item in tree[1]"
        :key="item.id"
        :item="item"
        @setAmount="setAmount"/>
    </template>
    <template v-else>
      <tree-item
        v-for="item in tree[0]"
        :key="item.id"
        :item="item"
        @setAmount="setAmount"/>
    </template>
    
  </div>
  </template>
  
  <script>
  import { ref, reactive, watch, onMounted } from 'vue';
  
  import TreeItem from '../components/TreeItem.vue'
  
  export default {
    name: 'FirstTask',
    components: {
      TreeItem,
    },
    props: {
      msg: String
    },
    setup() {
  
      let tree = reactive([]);
  
      const amount = ref(0);
  
      const allowEmpty = ref(false);
      watch(allowEmpty, () => {
        amount.value = 0;
        getRubrics()
      })
  
      const getRubrics = () => {
        if (tree.length == 2) {
          return;
        }
  
        fetch(`https://www.klerk.ru/yindex.php/v3/event/rubrics?allowEmpty=${+allowEmpty.value}`)
          .then(response => response.json())
          .then(data => {
            const children = prepare(data);
  
            tree.push([{
              title: 'Рубрики',
              children,
              count: data.length
            }])
          })
      }
  
      const prepare = (arr) => {
        arr.forEach(( el ) => {
          el.checked = false;
  
          if (el?.children?.length) {
            prepare(el.children)
          }
        })
  
        return arr;
      }
  
      const setAmount = (value) => {
        amount.value += value;
      }
      
      onMounted(() => {
        getRubrics();
      })
  
      return {
        tree,
        amount,
        setAmount,
        allowEmpty,
      }
  
    },
  }
  </script>
  