<template>
<div class="h-screen flex flex-col justify-center items-center">
  <h1 class="text-2xl">Выбрите техническое задание</h1>
  <div class="flex flex-row mt-4">
    <base-btn class="mr-2" @click="router.push('/first-task')">Задание №1</base-btn>
    <base-btn class="ml-2" @click="router.push('/second-task')">Задание №2</base-btn>
  </div>
</div>
</template>

<script>
import { useRouter } from 'vue-router';

export default {
  name: 'Home',
  setup() {
    const router = useRouter();

    return {
      router,
    }
  }
}
</script>