<template>
<div class="flex flex-col items-center">
  <img class="w-[75px] mt-8 lg:mt-12" src="logo.svg" alt="">
  <base-bread-crumbs class="mt-5" :crumbs="crumbs" />
  <h1 class="text-[32px] lg:text-[56px] font-medium mt-2 mb-6 lg:mt-6 lg:mb-6">Подписки «Клерка»</h1>

  <base-tabs
    :tabs="tabs"
    :currentTab="currentTab"
    @changeTab="currentTab = $event"></base-tabs>

  <div class="w-full lg:w-[1024px] bg-[#F5F5F8] lg:rounded-2xl px-4 lg:px-6 py-8 lg:py-12">
    <h2 class="lg:text-center text-2xl font-medium">Выберите рассылки, которые подходят именно вам</h2>
    <div class="mt-4 lg:mt-6 lg:px-6">
      <form class="flex flex-row h-[56px] bg-[#ffffff] rounded-l-xl rounded-r-3xl overflow-hidden">
        <input type="text" class="h-full w-full p-4 outline-none placeholder:text-[#666666]" placeholder="Электронная почта"/>
        <base-btn type="submit" class="hidden lg:block">Подписаться</base-btn>
        <base-btn type="submit" width="56" class="flex-none lg:hidden">
          <img src="arrow-right.svg" alt="arrow-right">
        </base-btn>
      </form>

      <div class="flex flex-row items-cetner mt-4">
        <base-toggle class="mt-[1px]" v-model="subscribe" />
        <div class="text-sm ml-2">Подписаться на все рассылки</div>
      </div>
    </div>

    <div class="flex flex-row flex-wrap items-stretch mt-6 lg:mt-8">
      <base-card
        v-for="(card, i) in cards"
        :key="i"
        class="lg:odd:pr-3 lg:even:pl-3 w-full lg:w-6/12 flex-none mb-6 last:mb-0">
        <div class="flex flex-row items-start">
          <div class="grow">
            <div class="flex flex-row items-start justify-between">
              <div class="grow">
                <h4 class="text-[13px] text-[#999999] font-normal">{{ card.subTitle }}</h4>
                <h3 class="text-xl font-medium">{{ card.title }}</h3>
              </div>
              <div class="w-[40px] lg:hidden block">
                <img class="w-full" :src="card.img" :alt="card.title" />
              </div>
            </div>
            <div class="text-[#666666] mt-2 mb-4 font-normal text-sm">{{ card.text }}</div>
            <ul>
              <li
                v-for="(item, i) in card.list"
                :key="i"
                class="flex flex-row items-center mt-2">
                <img class="w-4" src="check.svg" alt="check">
                <div class="text-sm ml-4" v-html="item"></div>
              </li>
            </ul>
            <div class="flex flex-row items-center mt-4">
              <base-toggle size="sm" v-model="card.checked" />
              <div class="text-sm ml-2">{{ card.checkTitle }}</div>
            </div>
          </div>
          <div class="w-[80px] ml-4 flex-none hidden lg:block">
            <img class="w-full" :src="card.img" :alt="card.title">
          </div>
        </div>
      </base-card>
    </div>
  </div>

  <img class="my-12 w-[194px]" src="smile.svg" alt="Smile">
</div>
</template>

<script>
import { ref, reactive } from 'vue';
import BaseCard from '../components/Base/BaseCard.vue';
import BaseToggle from '../components/Base/BaseToggle.vue';

export default {
    components: { BaseCard, BaseToggle },
  name: 'SecondTask',
  setup() {
    const currentTab = ref(0);

    // subscribe
    const subscribe = ref(false);

    const crumbs = [
      {
        title: 'Главная',
        link: '#',
      }, {
        title: 'Рассылки',
        link: '#',
      }, {
        title: 'Хлебные крошки',
        link: '#',
      }
    ];

    const tabs = [
      {
        title: 'Рассылки',
        tab: 'rassilki',
      }, {
        title: 'Соцсети',
        tab: 'socseti',
      }, {
        title: 'Мессенджеры',
        tab: 'messengers',
      }
    ];

    const cards = reactive([
      {
        subTitle: 'Перед рассветом',
        title: 'Утренний бухгалтер',
        text: 'Самые важные новости и события за день. Кратко, по делу, структурировано.',
        list: [
          'Новости для бухгалтеров, ИП и директора',
          'Подборка статей за день',
        ],
        checked: true,
        checkTitle: 'Уже получает 59 342 человек',
        img: 'img1.png',
      }, {
        subTitle: 'После заката',
        title: 'Ночной бухгалтер',
        text: 'Самая краткая газета о налогах и бухучете в мире — современная рассылка для чтения.',
        list: [
          'Анализ, оценка и только самое главное',
          'Лучшие комменты юзеров в обзоре',
        ],
        checked: false,
        checkTitle: 'Уже получает 37 480 человек',
        img: 'img2.png',
      }, {
        subTitle: 'Раз в две недели',
        title: 'Ножницы скидок',
        text: 'Подборка самых выгодных и полезных спецпредложений от надежных компаний.',
        list: [
          'Акции и скидки от лидеров рынка',
          'Те, кто подписался – экономят много денег',
        ],
        checked: false,
        checkTitle: 'Уже получает 92 118 человек',
        img: 'img3.png',
      }, {
        subTitle: 'По мере появления анонсов',
        title: 'Чемодан вебинаров',
        text: 'Подборка с анонсами бесплатных вебинаров на самые топовые темы при участии экспертов.',
        list: [
          '<strong>Никогда не пришлем платные вебинары</strong>',
          'Подборка топовых тем для вебинаров',
        ],
        checked: false,
        checkTitle: 'Уже получает 92 082 человек',
        img: 'img4.png',
      }
    ]);

    return {
      tabs,
      cards,
      crumbs,
      subscribe,
      currentTab,
    }
  },
}
</script>

