<template>
<button
  class="rounded-full flex flex-row justify-center items-center"
  :type="type"
  :style="style">
  <slot></slot>
</button>
</template>

<script>
import { computed } from 'vue';

export default {
  name: 'BaseBtn',
  props: {
    height: {
      type: [ Number, String ],
      default: 56,
    },
    width: {
      type: [ Number, String ],
      default: 163,
    },
    fontSize: {
      type: [ Number, String ],
      default: 16,
    },
    type: {
      type: String,
      defulat: 'button',
    },
  },
  setup(props) {
    const style = computed(() => {
      return {
        height: props.height + 'px',
        width: props.width + 'px',
        fontSize: props.fontSize + 'px',
      }
    })

    return {
      style,
    }
  },
}
</script>

<style lang="css" scoped>
button {
  background-color: #316FEE;
  color: #fff;
}
</style>