<template>
<div class="flex flex-row">
  <button
    v-for="(tab, i) in tabs"
    :key="i"
    :class="i === currentTab ? 'border-[#5A8CF1] text-[#5A8CF1] font-medium' : 'border-[#FFFFFF] text-[#666666] font-normal'"
    class="text-base pb-4 border-b-2 mx-3"
    @click="$emit('changeTab', i)"> {{ tab.title }}
  </button>
</div>
</template>

<script>
export default {
  name: 'BaseTabs',
  emits: ['changeTab'],
  props: {
    tabs: {
      type: Array,
      required: true,
    },
    currentTab: {
      type: Number,
      default: 0,
    },
  },
  setup() {
    
  },
}
</script>