<template>
<label class="cursor-pointer">
  <div
    class="rounded-full relative transition-all duration-700 ease-linear"
    :style="style">
    <div
      class="absolute bg-[#fff] rounded-full transition-all duration-400 ease-linear"
      :style="circleStyle"></div>
  </div>
  <input
    type="checkbox"
    class="hidden"
    :checked="modelValue"
    @change="change">
</label>
</template>

<script>
import { computed } from 'vue';

export default {
  name: 'BaseToggle',
  props: {
    size: {
      type: String,
      default: 'xs',
      validator(value) {
        return ['xs', 'sm'].includes(value);
      },
    },
    modelValue: Boolean,
  },
  setup(props, { emit }) {
    const style = computed(() => {
      return {
        width: props.size === 'xs' ? '32px' : '48px',
        height: props.size === 'xs' ? '16px' : '24px',
        backgroundColor: props.modelValue ? '#316FEE' : '#DCDCDC',
      }
    });

    const circleStyle = computed(() => {
      return {
        width: props.size === 'xs' ? '14px' : '22px',
        height: props.size === 'xs' ? '14px' : '22px',
        top: '1px',
        left: !props.modelValue
          ? '1px'
          : props.size === 'xs' ? '17px' : '25px'
      }
    });

    const change = () => {
      emit('update:modelValue', !props.modelValue);
    }

    return {
      style,
      change,
      circleStyle
    }
  },
}
</script>