<template>
<div class="flex flex-row items-center">
  <template
    v-for="(crumb, i) in crumbs"
    :key="i">
    <router-link
      :to="`/${crumb.link}`"
      class="text-gray-light text-[13px] border-b border-blue-light"> {{ crumb.title }}
    </router-link>
    <img
      v-if="i < crumbs.length - 1"
      class="w-[13px] mx-2"
      src="arrow.svg"
      alt="arrow-right">
  </template>
</div>
</template>

<script>
export default {
  name: 'BaseBreadCrumbs',
  props: {
    crumbs: {
      type: Array,
      required: true,
    },
  },
  setup() {
    
  },
}
</script>