<template>
<div
  class="py-1"
  :style="depth ? 'padding-left: 30px;' : ''">
  <input
    type="checkbox"
    v-model="checked"
    :disabled="disabled"/>
  <a
    v-if="item.url"
    class="pl-2"
    :href="'https://www.klerk.ru' + item.url"
    target="_blank"> {{ item.title }}
  </a>
  <span
    @click="show = !show"
    class="cursor-pointer pl-2" v-else> {{ item.title }}
  </span>
  <span class="pl-2 ">( {{ item.count }}, {{ countSum }} )</span>
  <span
    v-if="item.children?.length"
    class="pl-2 cursor-pointer"
    @click="show = !show"> {{ show ? '&#9650;' : '&#9660;' }}
  </span>
  <tree-item
    v-show="show"
    v-for="item in item.children"
    :key="item.id"
    :item="item"
    :depth="depth + 1"
    :disabled="disabled || checked"
    @setAmount="setAmount"/>
</div>
</template>

<script>
import { ref, computed, watch } from 'vue';

export default {
  name: 'TreeItem',
  props: {
    item: {
      type: [ Array, Object ]
    },
    depth: {
      type: Number,
      default: 0,
    },
    disabled: {
      type: Boolean,
      default: false,
    }
  },
  setup(props, { emit }) {
      const show = ref(false);
      
      const checked = ref(false)
      watch(checked, (value) => {
        if (!props.disabled)
          emit('setAmount', value ? countSum.value : -countSum.value)
      })

      watch(() => props.disabled, () => {
          if (checked.value) {
            emit('setAmount', -countSum.value)
            checked.value = false;
          }
      })

      const countSum = computed(() => {
        if (props.item.children) {
          const sum = (arr = props.item.children, result = 0) => {
            result += arr.reduce(( accum, el ) => {
              let res = el.count + accum;

              if (el.children?.length) {
                res += sum(el.children)
              } 

              return res;
            }, 0);
              return result;
          };

          return sum(props.item.children);
        }

        return 0;
      })

      const setAmount = (value) => {
        emit('setAmount', value)
      }

      return {
        show,
        checked,
        countSum,
        setAmount,
      }
  },
}
</script>